<li id = lecture_<%= lecture.id %> class = "lecture" >
  <span class="lecture_score"><%= lecture.average_score %></span>
  <%= link_to lecture.name, lecture %>
  <span class="teacher-name">  <%= link_to lecture.teacher.name, lecture.teacher %></span>
</li>