<% provide(:title, 'クラス編集') %>
<% provide(:button_text, '変更') %>
<h1>
<%= t('.edit-class') %>
</h1>

<div class="row">
  <%# <div class="col-md-6 offset-md-3"> %>
  <div>
    <%= render 'form' %>
  </div>
</div>