<% provide(:title, 'All users') %>
<h1>全ての講義</h1>
<%= link_to "講義の新規作成",  new_lecture_path %>

<ul class="lectures">
  <%= render @lectures %>
  <%= paginate @lectures, theme: 'twitter-bootstrap-4' %>
</ul>