<% provide(:title, 'All users') %>
<h1>全ての講義</h1>
<%= link_to "講義の新規作成",  new_lecture_path %>

<ul class="lectures">
  <% @lectures.each do |lecture| %>
    <li>
      <%= link_to lecture.name, lecture %>
    </li>
  <% end %>
</ul>