<% provide(:title, t('.class-list')) %>
<div class="lectures-index">
  <h2 class="title">
    <%= t('.class-list') %>
  </h2>
  <ul class="rankings">
    <% @lectures.each do |lecture| %>
      <%= render lecture %>
    <% end %>
    <%= paginate @lectures, theme: 'twitter-bootstrap-4' %>
  </ul>
</div>
