<% provide(:title, '講義一覧') %>
<h1>講義</h1>
<%= link_to "講義の新規作成",  new_lecture_path %>

<ul class="lectures">
  <% @lectures.each do |lecture| %>
    <%= render lecture %>
  <% end %>
  <%= paginate @lectures, theme: 'twitter-bootstrap-4' %>
</ul>