<% if review.helpfuled_by?(current_user) %>
  <p><span>役に立った(済): </span><%=link_to review.helpfuls.count, lecture_review_helpful_path(id: current_user.id, lecture_id: @lecture.id, review_id: review.id), method: :delete, remote: true %></p>
<% else %>
  <p><span>役に立った: </span><%=link_to review.helpfuls.count, lecture_review_helpfuls_path(user_id: current_user.id, lecture_id: @lecture.id, review_id: review.id), method: :post, remote: true %></p>
<% end %>