<% provide(:title, t('.notifi')) %>
<div class="notifications-index">
  <h2><%= t('.notilist') %></h2>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <ul>
      <%= render notifications %>
    </ul>
    <%= paginate notifications %>
  <% else %>
    <p><%= t('.No notification') %></p>
  <% end %>
</div>