<% provide(:title, "お知らせ") %>
<div class="notifications-index">
  <h2>通知一覧</h2>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <ul>
      <%= render notifications %>
    </ul>
    <%= paginate notifications %>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>