<% provide(:title, @group.name) %>
<div class="col-md-8 offset-md-2 edit-admin-index">
    <p><%= t('.chooseamember') %></p>
    <%= render 'shared/stats_user' %>
    <% @users.each do |user| %>
      <% relation = UserGroupRelation.find_by(user_id: user.id, group_id: @group.id) %>
      <% if relation.confirmation == true && relation.admin == false && relation.leave == false %>
        <li class="list-group-item list-group-item-action member-list-box">
        <%= link_to user.name, {controller: 'groups', action: 'update_admin', id: @group.id, user_id: user.id}, method: :patch %></li>
      <% end %>
    <% end %>
</div>
