<% provide(:title, @group.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="group_info">
      <h1>
        <%= @group.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <p>団体ページの編集権を許可するユーザーを1人選択してください。</p>
    <%= render 'shared/stats_user' %>
    <% @users.each do |user| %>
      <% if UserGroupRelation.find_by(user_id: user.id, group_id: @group.id).admin == false %>
        <ul>
          <li><%= link_to user.name, {controller: 'groups', action: 'update_admin', id: @group.id, user_id: user.id}, method: :patch %></li>
        </ul>  
      <% end %>
    <% end %>
  </div>
