<h2><%= t('.userinformation') %></h2>

<table class="table">
  <tr>
    <th><%= t('.name') %></th>
    <td><%= user.name %></td>
  </tr>
</table>

<%= link_to '', edit_user_path(user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
