<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>ユーザー情報</h2>

    <table class="table">
    <tr>
        <th>name</th>
        <td><%= @user.name %></td>
    </tr>
    </table>

    <%= link_to '名前を編集する', edit_user_path(@user.id)%>

  </div>
</div>