<% @user ||= current_user %>
<div class="stats">
  <a href="<%= group_user_path(@user) %>">
    <strong id="group" class="stat">
      <% count = 0 %>
      <% @user.group.each do |group| %>
        <% if UserGroupRelation.find_by(user_id: @user.id, group_id: group.id).confirmation == true %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <%= count %>
    </strong>
    <%= t('.group') %>
  </a>
</div>