<% @group ||= current_group %>
<div class="stats">
  <%# <a href="<%= users_group_path(@group) %>
    <span id="users" class="stat">
      <%= t('.members') %>：
      <% count = 0 %>
      <% @group.users.each do |user| %>
      <% relation = UserGroupRelation.find_by(user_id: user.id, group_id: @group.id) %>
        <% if relation.confirmation == true && relation.leave == false %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <%= count %>
    </span>
  </a>
</div>