li.lecture{
  background-color: #eeeeee;
  border-radius: 4px;
  margin: 5px 0;
  .lecture_score{
    background-color: yellowgreen;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
  }
  a{
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
  }
  .lecture_info{
    padding: 10px;
    margin-left: 40px;
    span{
      padding: 10px;
    }
  }
}
