.lecture_show{
  margin-top: 20px;
  margin: 0 auto;
  a{
    color: black;
    &:hover{
      background-color: lightgray;
    }
  }
  .bookmark-mark{
    margin-bottom: -4rem;
  }
  p{
    margin: 0;
    padding: 0;
  }
  .creator_name{
    float: right;
  }
  .lecture-header{
    display: flex;
    justify-content: space-between;
  }
  .lecture-info{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
    h3{
      font-size: 50px;
      font-weight: bold;
      padding: 15px 0;
    }
    .teacher-name{
      font-size: 20px;
      margin-left: 20px;
    }
    .scores{
      padding: 15px 0;
      h4{
        font-size: 30px;
        span.score{
          font-weight: bold;
        }
      }
    }
  }

  .lecture-reviews{
    margin: 0 auto;
    margin-top: 30px;
    ol{
      padding: 0px;
      margin-top: 10px;
      li{
        padding: 30px;
        .timestamp{
          font-size: 10px;
        }
      }
    }
  }
}


/*画面幅(768px)以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:768px){/*スマホ版で教えているクラスと最も参考になるレビューを縦並びに戻すのに必要*/
  .lecture_show{
    p.bookmark-mark{
      font-size: 30px;
    }
  }
}