<div class="landing-page">
  <%# title %>
  <div class="land-title">
    <div class="logo"><%= link_to image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "250px", id: 'logo'), root_path %></div>
    <h6>- 大学生向けSNS -</h6>
    <div class="links">
      <div>
        <i class="fas fa-arrow-circle-right"></i>新規登録
      </div>
      <div>
        <i class="fas fa-arrow-circle-down"></i>Hey Collegeって？
      </div>
    </div>
  </div>
  <%# about review %>
  <div class="land-class-review">
    <h2>Class review</h2>
    <div class="img">
      <%= link_to image_tag("Screen Shot 2021-04-02 at 1.17.37 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
    </div>
    <div class="explanation">
      <div class="icon">
        <i class="fas fa-pencil-alt fa-2x"></i>
      </div>
      <div class="exple">友達のレビューを見よう !</div>
    </div>
  </div>
  <%# about group %>
  <div class="land-group-list">
    <h2>Group list</h2>
    <div class="img">
      <%= link_to image_tag("Screen Shot 2021-04-02 at 1.17.37 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
    </div>
    <div class="explanation">
      <div class="icon">
        <i class="fas fa-users fa-2x"></i>
      </div>
      <div class="exple">学生団体を見よう！</div>
    </div>
  </div>
  <%# about e-mee %>
  <div class="land-e-mee">
    <h2>E-mee</h2>
    <div class="img">
      <%= link_to image_tag("Screen Shot 2021-04-02 at 1.17.37 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
    </div>
    <div class="explanation">
      <div class="icon">
        <i class="fas fa-comments fa-2x"></i>
      </div>
      <div class="exple">
        <ul>
          <li>イベントに参加しよう！</li>
          <li>友達と話そう！</li>
        </ul>  
      </div>
    </div>
  </div>
  <%# new registration %>
  <div class="registration">
  新規登録
  </div>
</div>