<% provide(:title, '事業内容') %>
<div class="service">
  <h1 class="main-title">事業内容</h1>
  <div class="item">
    <h5 class="mini-title">SDGsとは</h1>
    <p>SDGsとは、2015年9月の国連サミットで採択された「持続可能な開発のための2030アジェンダ」に記載された2016年から2030年までの国際目標です。貧困や格差、気候変動などの世界の問題に人類全体が一丸となって取り組み、2030年までに解決を目指すものです。持続可能な世界を実現するための17のゴール・169のターゲットから構成され、地球上の誰一人として取り残されないことを誓っています。</p>
    <%= image_tag("sdg_poster_ja.png", alt: "", width: "") %>
  </div>
  <div class="item">
    <h5 class="mini-title">私たちの取り組みと関連SDGs</h1>
    <p>----------------------</p>
    <div class="box">
    <%= image_tag("sdg_icon_04_ja_2.png", alt: "", width: "10%") %>
    <span>---------</span>
    </div>
  <div>
</div>