<% provide(:title, '大学設定') %>
<h1>大学設定画面</h1>

<%# 言語切り替えボタン %>
<div class="lang col-1 text-right">
    <%= link_to "/application/change_university/1" do %>
      APU
    <% end %>
    <%= link_to "/application/change_university/2" do %>
      OPU
    <% end %>
</div>