<% provide(:title, '利用規約') %>
<div class="terms-show">
<h1>HeyCollege利用規約</h1>

<p>この利用規約（以下、「本規約」といいます。）は、古賀雅基（以下、「当社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さまには、本規約に同意の上、本サービスをご利用いただきます。加えて、未登録ユーザー（以下、登録ユーザーと合わせて「ユーザー」といいます。）についても、本規約に同意の上、本サービスを一部ご利用いただけます。したがって、本サービスを利用する際にはいかなる場合でも必ず本規約を読んだ上で、同意してください。なお、本規約、個別規約、その他当社からの通知につきましてはすべて日本語で行います。</p>
<br>

<h2>第1条（適用）</h2>
<ol>
  <li>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
  <li>当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</li>
  <li>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</li>
  <li>ユーザーが未成年者である場合には、親権者その他の法定代理人の同意を得たうえで、本サービスをご利用ください。</li>
  <li>未成年者のユーザーが、法定代理人の同意がないにもかかわらず同意があると偽り、または年齢について成年と偽って本サービスを利用した場合、その他行為能力者であることを信じさせるために詐術を用いた場合、本サービスに関する一切の法律行為を取り消すことはできません。</li>
  <li>本規約の同意時に未成年であったユーザーが成年に達した後に本サービスを利用した場合、当該ユーザーは本サービスに関する一切の法律行為に追認したものとみなされます。</li>
</ol>
<br>

<h2>第2条（利用登録）</h2>
<ol>
  <li>本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、当社がこの承認を登録希望者に通知することによって、利用登録が完了するものとします。</li>
  <li>ユーザーは本サービスに利用登録をした時点で、本規約の内容をすべて承諾したものとみなされます。不承諾の意思表示は、本サービスを利用登録しないことによってのみ認められるものとします。</li>
  <li>前項について、未登録ユーザー（本サービスに利用登録せずに本サービスを利用する者のことを指す。）についても、本サービスを利用した時点で本規約に同意したものとみなします。不承諾の意思表示は、本サービスを一切利用しないことによってのみ認められるものとします。</li>
  <li>当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。 </li>
  <ol type=a>
    <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
    <li>本規約に違反したことがある者からの申請である場合</li>
    <li>その他、当社が利用登録を相当でないと判断した場合</li>
  </ol>
</ol>
<br>

<h2>第3条（アカウントの管理）</h2>
<ol>
  <li>ユーザーは、本サービスの利用に際して登録した情報（以下、「登録情報」といいます。メールアドレスやパスワード等を含みます。）を、自己の責任において、適切に管理するものとします。</li>
  <li>ユーザーは、いかなる場合にも、登録情報を第三者に譲渡または貸与し、もしくは第三者と共用することはできません。当社は、メールアドレスとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのメールアドレスを登録しているユーザー自身による利用とみなします。</li>
  <li>登録情報が第三者によって使用されたことによって生じた損害は、当社は一切の責任を負わないものとします。</li>
  <li>ニックネーム、学年、学部、性別等のプロフィールに関する登録情報（パスワード等は除く）、投稿内容、ブックマークをつけた講義一覧、登録団体等のユーザーに関するあらゆる情報は本サービスにおいて、他ユーザーもしくは第三者に公開される可能性があることをユーザーは十分に理解をした上、同意したものとみなします。</li>
</ol>
<br>

<h2>第4条（禁止事項）</h2>
<p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。なお、当社において、ユーザーが禁止事項に違反したと認めた場合、当社は、利用停止、投稿削除等、当社において必要と判断した措置を取ることができるものとし、ユーザーはこれに異議なく同意するものとします。</p>
<ol>
  <li>法令または公序良俗に違反する行為</li>
  <li>犯罪行為に関連する行為</li>
  <li>当社、本サービスの他のユーザー、または第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
  <li>当社のサービスの運営を妨害するおそれのある行為</li>
  <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
  <li>不正アクセスをし、またはこれを試みる行為</li>
  <li>他のユーザーに成りすます行為</li>
  <li>当社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
  <li>当社、本サービスの他のユーザーまたは第三者の知的財産権、肖像権、プライバシー、名誉その他の権利または利益を侵害する行為</li>
  <li>以下の表現を含み、または含むと当社が判断する内容を本サービス上に投稿し、または送信する行為 </li>
  <ol type=a>
	  <li>過度に暴力的な表現</li>
	  <li>露骨な性的表現</li>
	  <li>人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現</li>
	  <li>自殺、自傷行為、薬物乱用を誘引または助長する表現</li>
	  <li>犯罪や不法行為、危険行為に属する表現およびそれらを教唆、幇助する表現</li>
	  <li>第三者の権利及び財産に対して損害を与えるリスクのある表現</li>
	  <li>第三者に対して有害な情報、第三者を身体的・心理的に傷つける表現</li>
	  <li>事実に反する、または存在しない情報（ユーザーが意図しないで事実に反する、または存在しない情報を投稿した場合も含みます。）</li>
	  <li>ユーザー自身がコントロール可能な権利を持たない情報</li>
	  <li>第三者の著作権を含む知的財産権やその他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報</li>
	  <li>その他反社会的な内容を含み他人に不快感を与える表現</li>
  </ol>
  <li>以下を目的とし、または目的とすると当社が判断する行為</li> 
  <ol type=a>
	  <li>営業、宣伝、広告、勧誘、その他営利を目的とする行為（当社の認めたものを除きます。）</li>
	  <li>性行為やわいせつな行為を目的とする行為</li>
	  <li>面識のない異性との出会いや交際を目的とする行為</li>
	  <li>他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</li>
	  <li>当社、本サービスの他のユーザー、または第三者に不利益、損害または不快感を与えることを目的とする行為</li>
	  <li>その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
  </ol>
  <li>宗教活動または宗教団体への勧誘行為</li>
  <li>その他、当社が不適切と判断する行為</li>
</ol>
<br>

<h2>第5条（本サービスの提供の停止等）</h2>
<ol>
  <li>当社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。 </li>
  <ol type=a>
	  <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
	  <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
	  <li>コンピュータまたは通信回線等が事故により停止した場合</li>
	  <li>その他、当社が本サービスの提供が困難と判断した場合</li>
  </ol>
  <li>当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li>
</ol>
<br>

<h2>第6条（著作権）</h2>
<ol>
  <li>ユーザーは、自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像、録音その他の情報に関してのみ、本サービスを利用し、投稿ないしアップロードすることができるものとします。</li>
  <li>ユーザーが本サービスを利用して投稿ないしアップロードした文章、画像、音声、映像等の著作権については、当該ユーザーその他既存の権利者に留保されるものとします。ただし、当社は、本サービスを利用して投稿ないしアップロードされた文章、画像、音声、映像等について、本サービスの改良、品質の向上、または不備の是正等ならびに本サービスの周知宣伝等に必要な範囲で利用できるものとし、ユーザーは、この利用に関して、著作者人格権を行使しないものとします。</li>
  <li>前項本文の定めるものを除き、本サービスおよび本サービスに関連する一切の情報についての著作権およびその他の知的財産権はすべて当社または当社にその利用を許諾した権利者に帰属し、ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます。）、伝送、配布、出版、営業使用等をしてはならないものとします。</li>
</ol>
<br>

<h2>第7条（利用制限および登録抹消）</h2>
<ol>
  <li>当社は、ユーザーが以下のいずれかに該当する場合には、事前の通知なく、投稿データを削除し、ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。 </li>
  <ol type=a>
	  <li>本規約のいずれかの条項に違反した場合</li>
	  <li>登録事項に虚偽の事実があることが判明した場合</li>
	  <li>当社からの連絡に対し、一定期間返答がない場合</li>
	  <li>本サービスについて、最終の利用から一定期間利用がない場合</li>
	  <li>その他、当社が本サービスの利用を適当でないと判断した場合</li>
  </ol>
  <li>前項各号のいずれかに該当した場合、ユーザーは、当然に当社に対する一切の債務について期限の利益を失い、その時点において負担する一切の債務を直ちに一括して弁済しなければなりません。</li>
  <li>当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について、一切の責任を負いません。</li>
</ol>
<br>

<h2>第8条（退会）</h2>
<ol>
  <li>ユーザーは、当社の定める退会手続により、本サービスから退会できるものとします。</li>
  <li>ユーザーが本サービスを利用して投稿ないしアップロードした文章、画像、音声、映像等は、ユーザーが退会した場合でも、原則として削除されないものとし、ユーザーはこれに同意したものとみなします。</li>
</ol>
<br>

<h2>第9条（保証の否認および免責事項）</h2>
<ol>
  <li>当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
  <li>前項について、特に本サービスにおける講義、先生、団体等の情報に対し、当社は事実上または法律上の瑕疵がないことを保証していないことに注意してください。</li>
  <li>ユーザーの登録情報（パスワード等は除く）、投稿内容、ブックマークをつけた講義、登録団体等のユーザーに関する情報が第三者に公開されるにあたって、ユーザーに生じたあらゆる損害について当社は一切の責任を負いません。</li>
  <li>当社は、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</li>
  <li>前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は、ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。</li>
  <li>当社は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間、もしくは第三者同士の間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
  <li>前項について、特に講義レビュー等でユーザーによる誹謗中傷等の不適切な表現により、ユーザーと第三者との間で生じた紛争等について当社は一切責任を負いませんので、ユーザーは十分に表現等に注意した上で本サービスを利用してください。</li>
</ol>
<br>

<h2>第10条（広告の掲載について）</h2>
<ol>
  <li>ユーザーは本サービス上のあらゆる広告が含まれる場合があること、当社またはその提携先があらゆる広告を掲載する場合があることを理解しこれを承諾したものとみなします。本サービス上の広告の形態や範囲は、当社によって随時変更されます。</li>
</ol>
<br>

<h2>第11条（カレッジポイントについて）</h2>
<ol>
  <li>カレッジポイントとは、当社がユーザーに対して付与する、本サービス上でのみ授受、貯蓄および消費可能な仮想通貨です。</li>
  <li>当社の定めるカレッジポイントの付与および消費等についての規定（以下、「ポイントの規定」といいます。）は随時変更され、ユーザーは常にこれに従うものとします。</li>
  <li>当社は、ポイントの規定に従い、ユーザーに対して当社の定める方法によりカレッジポイントを付与します。</li>
  <li>ユーザーは、カレッジポイントを消費することで、ポイントの規定に従ってサービスが受けられます。</li>
  <li>当社はポイントの規定を公開する義務を負いません。</li>
  <li>カレッジポイントについて、直接、第三者による仲介、またはインターネットオークション等その手段を問わず、売買その他、金銭その他現実世界における対価を授受する形でのあらゆる譲渡、譲受、貸与、借用等する行為（本サービス内におけるユーザーの行為に対して金銭その他、現実世界における対価を授受することも含みます。）を禁止いたします。</li>
  <li>データベースの損失、セキュリティ上の過失、アカウントの停止、本サービスの停止または終了等のあらゆる事例に伴いカレッジポイントが失われることに対してユーザーが受ける損害について、当社は一切の責任を負いません。 </li>
</ol>
<br>

<h2>第12条（サービス内容の変更等）</h2>
<ol>
  <li>当社は、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。</li>
</ol>
<br>

<h2>第13条（利用規約の変更）</h2>
<ol>
  <li>当社は、必要と判断した場合には、ユーザーの承諾を得ることなく、いつでも本規約を変更することができるものとします。なお、本規約の変更後、本サービスの利用を開始した場合には、当該ユーザーは変更後の規約に同意したものとみなします。</li>
  <li>当社は、本規定を改定するときには、その内容について当社所定の方法によりユーザーに通知します。なお、本規約の改定の効力は、当社が通知を行った時点から生じるものとします。</li>
</ol>
<br>

<h2>第14条（個人情報の取扱い）</h2>
<ol>
  <li>当社は、本サービスの利用によって取得する個人情報については、当社<%= link_to "「プライバシーポリシー」", page_path('privacypolicy') %>に従い適切に取り扱うものとします。</li>
  <li>当社は、ユーザーが当社に提供した情報、データ等を、個人が特定できない形での統計的な情報として、当社の裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。</li>
</ol>
<br>

<h2>第15条（通知または連絡）</h2>
<ol>
  <li>ユーザーと当社との間の通知または連絡は、当社の定める方法によって行うものとします。当社はユーザーから当社が別途定める方式に従った変更届け出がない限り、現在登録されているメールアドレスその他の連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時にユーザーへ到達したものとみなします。</li>
</ol>
<br>

<h2>第16条（権利義務の譲渡の禁止）</h2>
<ol>
  <li>ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</li>
  <li>当社は本サービスに係る事業を他社に譲渡した場合には、当該の事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びにユーザーの登録事項その他顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本項においてあらかじめ同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
</ol>
<br>

<h2>第17条（分離可能性）</h2>
<ol>
  <li>本規約のいずれかの条項又はその一部が無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</li>
</ol>
<br>

<h2>第18条（準拠法・裁判管轄）</h2>
<ol>
  <li>本規約の解釈にあたっては、日本法を準拠法とします。</li>
  <li>本サービスに関して紛争が生じた場合には、大分地方裁判所を第一審とする専属的合意管轄とします。</li>
</ol>
<br>

<p>【2021年3月18日制定・施行】</p>
<p>以上</p>
</div>