// サイドバー
.sidebar_col,
.sub-sidebar {
  background-color: #EEEEEE;

  .sidebar_fixed {
    position: sticky;
    top: 65px;
    margin: 0 auto;

    .list-group-item:hover {
      a {
        color: #222;
      }
    }

    .list-group-item {
      margin: 5px 10px 5px 10px;
      padding: 5px 5px 5px 10px;
      height: 60px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: center;

      a {
        color: rgb(90, 82, 82);
        width: 100%;
        text-decoration: none;
        display: block;
        color: #777;
        text-align: center;
        font-size: 13px;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}