<li class="list-group-item list-group-item-action">
  <span class="star" data-rating="<%= lecture.average_score %>"></span>
  <span class="score"><%= lecture.average_score %></span>
  <%= link_to lecture.name, lecture %>
  <% unless lecture.reviews.blank? %>
    <span>(<%= lecture.all_reviews_count %>)</span>
  <% else %>
    <span>レビューはありません</span>
  <% end %>
</li>