<% provide(:title, '先生一覧') %>
<h1>先生</h1>

<ul class="teachers">
  <% @teachers.each do |teacher| %>
    <%= render teacher %>
  <% end %>
  <%= paginate @teachers, theme: 'twitter-bootstrap-4' %>
</ul>