<% provide(:title, t('.teacherlist')) %>
<div class="teacher-lectures-index">
  <h2 class="title"><%= t('.teacher-index') %></h2>    
  <ul class="rankings">
    <% @teachers.each do |teacher| %>
      <%= render teacher %>
    <% end %>
   <%= paginate @teachers, theme: 'twitter-bootstrap-4' %>    
  </ul>
</div>
