<% provide(:title, '先生一覧') %>
<div class="teacher-lectures-index">
  <h2 class="title">先生一覧</h2>    
  <ul class="rankings">
    <% @teachers.each do |teacher| %>
      <%= render teacher %>
    <% end %>
   <%= paginate @teachers, theme: 'twitter-bootstrap-4' %>    
  </ul>
</div>
