.container {
  .field, .actions {
  display: table;
  margin: 10px auto;
  }
}
.register-form-box, .user-info-form{
  display: table;
  margin: 0 auto;
  .form-content{
    display: table;
    margin: 0 auto;
  }
  .field{
    display: table;
  }
}
