.container {
  .field, .actions {
  display: table;
  margin: 10px auto;
  }
}
.register-form-box, .user-info-form{
  display: table;
  margin: 0 auto;
  .form-content{
    display: table;
    margin: 0 auto;
  }
  .field{
    display: table;
  }
}

.user-info-form{
  display: table;
  margin: 0 auto;
  label{
    margin-bottom: 0;
  }
  .title{
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
  }
}
