// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-index{
  .frame{
    /*丸アイコン*/
    .circle {
      width: 84px;
      height: 84px;
      overflow: hidden; /*画像が円から出た部分は隠す*/
      background: #fff; /*背景色*/
      float: left; /*左に回り込み*/
      border: 2px solid #fff; /*枠線の幅、線種、色*/
      border-radius: 50%; /*アイコン画像を円にする*/
      /* 以下3行はfontawesomeを中央配置するため */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .float-right-btn{
      float: right;
      .btn-primary{
        float: right;
        margin-top: 0rem;
        margin-bottom: 0.1rem;
      }
      .btn-secondary{
        float: right;
        margin-top: 0rem;
        margin-bottom: 0.1rem;
      }
    }
    .frame-profile{
      float: left;
    }
  }
  .group-name{
    font-size:x-large ;
    clear: both;
  }
  .follow{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .float-right-btn{
    float: right;
  }
  .member-list{
    margin-top: 1rem;
    .member{
      font-size: larger;
    }
  }
  .member-list-box{
    width: 60%;
    margin-top: 0.2rem;
    margin-left: 1rem;
    a{
      color: black;
    }
  }
  .page-box{
    margin-top: 0.2rem;
    margin-left: 1rem;
  }
}

.group_profiles-btn{
  .btn-primary{
    float: left;
    margin-top: 1rem;
    margin-bottom: 0;

  }
  .btn-danger{
    float: left;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}

.edit-admin-index{
  width: 90%;
  margin: 0 auto;
  .member-list-box{
    width: 60%;
    margin-top: 0.2rem;
    margin-left: 1rem;
    a{
      color: black;
    }
  }
}

div.groups-index {
  width: 80%;
  margin-left: 10%;
  }
  p.new{
    width: auto;
    border-radius: 0.4rem;
    padding: 0.4rem 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    a{
      color: #fff;
    }
  }
  ul.groups{
     // 中身
    div.group{
      width: 90%;
      background-color: #eeeeee;
      border-radius: 4px;
      border-bottom: 1px solid gray;
      padding: 1rem 0.4rem;
      margin-left: 5%;

      .class-name{
        height: 100%;
        padding: 10px;
        font-weight: bold;
        color: rgb(39, 33, 33);
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: left;
        align-items: center;
      }
      a{
        display: inline-block;
        color: #333;
        font-weight: bold;
      }
    }
  }



