.landing-page{
  .land-title,
  .land-class-review,
  .land-group-list,
  .land-e-mee {
    text-align: center;
  }
  .land-title {
    .links {
      margin-top: 3rem;
      text-align: left;
      margin-left: 1rem;
      font-size: 1rem;
      color: rgb(90, 82, 82);
    }
  }
  .land-class-review,
  .land-group-list,
  .land-e-mee {
    margin-top: 3rem;
    h2 {
      color: #77a763;
      font-size: 3rem;
      border-bottom: 2px solid #6c757d;
      border-top: 2px solid #6c757d;
    }
    .img {
      border: 0.5rem solid #28a7455c;
      border-radius: 1rem;
      margin: 0 auto;
      margin-top: 1rem;
      width: 74%;
    }
    .explanation {
      display: flex;
      margin-top: 2rem;
      .icon {
        background-color: gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 3.5rem;
        width: 3.5rem;
        color: white;
      }
      .exple {
        text-align: left;
        display: flex;
        margin-left: 1rem;
        font-size: 1rem;
        align-items: center;
        ul {
          list-style: none;
          padding:0;
          margin:0;
        }
      }
    }
  }
  .registration{
    margin-top: 3rem;
    background-color: white;
    width: 100%;
    height: 12rem;
    border-radius: 0.5rem;
  }
}
