.landing-page{
  .land-title,
  .land-class-review,
  .land-group-list,
  .land-e-mee {
    text-align: center;
  }
  .land-title {
    .links {
      font-size: 1.5rem;
      color: rgb(90, 82, 82);
      div {
        margin-top: 1.5rem;
      }
    }
  }
  .land-class-review,
  .land-group-list,
  .land-e-mee {
    margin-top: 3rem;
    h2 {
      padding-bottom: 0.5rem;
      color: #77a763;
      font-size: 3rem;
      border-bottom: 2px solid #6c757d;
      border-top: 2px solid #6c757d;
    }
    .img {
      border: 0.6rem solid #2b2b2bce;
      border-radius: 0.5rem;
      margin: 0 auto;
      margin-top: 1rem;
      width: 218px;
    }
    .explanation {
      display: flex;
      margin: 0 auto;
      margin-top: 2rem;
      .icon {
        background-color: rgb(255, 169, 41);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 3.5rem;
        width: 3.5rem;
        color: white;
      }
      .exple {
        text-align: left;
        display: flex;
        margin-left: 1rem;
        font-size: 1rem;
        align-items: center;
        max-width: 12rem;
        p {
          padding:0;
          margin:0;
        }
      }
    }
    .scroll_appear.animate{
      list-style: none;
      padding-left: 0;
      li {
        position: relative;
        top: 100px;
        opacity: 0;
        margin-top: 0;
      }
    }
    .scroll_appear.animate li:first-child {
      transition: all 1.0s;
    }
    .scroll_appear.animate li:nth-child(2n) {
        transition: all 2.0s;
    }
    .scroll_appear.animate li:nth-child(3n) {
        transition: all 3.0s;
    }
    .scroll_appear.animate li.moving {
        opacity: 1;
        top: 0;
    }
  }
  // 新規登録
  .links {
    color: rgb(90, 82, 82);
    div.bottom-newgegi {
      margin: 0 !important;
      p {
        margin: 0!important;
        color: red;
      }
    }
    a {
      color: white;
    }
  }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
// about page用
  .school-name {
    margin-top: 1rem;
    padding-left:0.3rem;
    height: 3rem;
    width: 100%;
    background-color: #ddd9c3;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
  }
.FAQs {
  text-align: left;
  margin: 2rem;
  .faq-bar {
    height: 3rem;
    width: 100%;
    background-color: #ddd9c3;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    padding-left: 0.5rem;
  }
  .faq-contents{
    padding-left: 0.5rem;
    margin-top: 1rem;
    ul{
      list-style: none;
      padding: 0;
      margin:0;
      li {
        a{
          color:rgb(90, 82, 82);
        }
      }
    }
  }
}