// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.n-circle{
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  margin-top: 10px;
  margin-left: -20px;
  color: #efa04c;
  z-index: 3;
}

.notifications-index{

  margin-bottom: 3rem;
  h2{
    margin: 20px 0;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding: 10px;
    }
    hr{
      margin: 0;
    }
  }
  a{
    color: black;
  }
}

.circle {
  margin-right: 0.5rem;
  overflow: hidden; /*画像が円から出た部分は隠す*/
  background: #fff; /*背景色*/
  float: left; /*左に回り込み*/
  border: 2px solid #fff; /*枠線の幅、線種、色*/
  border-radius: 50%; /*アイコン画像を円にする*/
 }