// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.following-follower-index{
  .following-follower{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 40px 1fr 100px;
    border-bottom: 1px solid gray;
    .circle {/*円の外枠の大きさを調節*/
      margin: 0.1rem 0;
      width: 35px;
      height: 35px;
      color: #222;
      img{/*円の中の画像の大きさを調節*/
        width: 25px;
        height: 25px;
      }
    }
    #item1{
      grid-column: 1/2;
    }
    #item2{
      grid-column: 2/3;
      padding: 0.6rem 0;
      color: #222;
     }
    #item3{
      grid-column: 3/4;
    }
  }
}

// ボタンのポジション
.follow-btn{
  float: right;
  a{
    color: azure;
    &:hover{
      color: azure;
    }
  }
}

.follow-btn{
  background-color: #3caa1a;
  padding: 0.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  margin: 5px;
  color: azure;
  a {
    color: azure;
    &:hover{
      color: azure;
    }
  }
}