// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.review-show{
  padding: 20px;
  a{
    color: black;
  }
  span{
    font-size: 15px;
    display: block;
  }
  .time-stamp{
    text-align: right;
  }
}