// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ブックマークのCSSはここ
.news_by{
  display: block;  
  background-color: rgb(176, 238, 82);
  width: 100%;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 5px;
  color: black;
}

div.ranking-index, .lectures-index, .teacher-lectures-index, div.groups-index {
  h2{
    margin: 30px 0;
  }
  >nav{
    a{
      text-align: center;
      width: 50%;
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
      &:hover{
        background-color: lightgrey;
      }
    }
  }
  ul.rankings,ul.groups {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(39, 33, 33);

     // 中身
    div.lecture,div.teacher,div.user,div.teacher,{
      height: 85px;
      background-color: #eeeeee;
      border-radius: 4px;
      overflow: auto;
      border-bottom: 1px solid gray;
      .row {
        height: 100%;
        border-bottom: none;
      }
      .rank{
        font-weight: bold;
        min-width: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
      }
      .score{
        border-radius: 20%;
        height: 29px;
        width: 55px;
        font-weight: bold;
        color: rgb(39, 33, 33);
        display: flex;
        align-items: center;
        text-align: left;
        height: 100%;
        a{
          background-color: gold;
          margin: 7%;
          margin-left: 20%;
        }
      }
      .class-name{
        height: 100%;
        padding: 10px;
        font-weight: bold;
        color: rgb(39, 33, 33);
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .teacher-name, .teacher-teachername{
        height: 100%;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        color: rgb(39, 33, 33);
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: left;
        align-items: center;
        .web-reviewcount{
          margin: 10px;
        }
      }

      .mobile-teacher {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .mobile-class-and-teacher{
        height: 100%;
      }
      .mobile-class-name, .mobile-teacher-name{
        height: 40px;
        display: flex;
        align-items: center;
      }
      .review-count{
        display: flex;
        align-items: center;
      }
      a{
        display: inline-block;
        color: rgb(39, 33, 33);
        font-weight: bold;
      }
    }
  }
}