// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
    padding: 0px;
}

.news_by{
  display: block;  
  background-color: rgb(176, 238, 82);
  width: 100%;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 5px;
  color: black;
}

div.ranking-index{
  h2{
    margin: 30px 0;
  }
  >nav{
    a{
      text-align: center;
      width: 50%;
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
      &:hover{
        background-color: lightgrey;
      }
    }
  }
  ul.rankings{
    list-style: none;
    margin: 0;
    padding: 0;
    li.lecture, li.teacher{
      background-color: #eeeeee;
      border-radius: 4px;
      margin: 5px 0;
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid gray;
      .score{
        background-color: springgreen;
        border-radius: 20%;
        padding: 10px;
        font-weight: bold;
        color: black;
        margin-left: 10px;
      }
      a{
        color: black;
        padding-left: 5px;
        padding-top: 5px;
        font-weight: bold;
      }
    }
  }
}