// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ブックマークのCSSはここ
.news_by{
  display: block;  
  background-color: rgb(176, 238, 82);
  width: 100%;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 5px;
  color: black;
}

// スライドショーのscss
// マージン消したから、その分スライドショーを中央に持ってくるためのブロック
.slide-container {
  width: 93%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.slide_show{
  width: 90%;
  display: flex;
  align-content: center;
  margin-right: 0;
  margin-left: 0;
  max-height: 200px; //読み込み時に縦に並ばないように
  .slick-prev:before, .slick-next:before{
    // color: #b0ee52;
    color: black;
  }
  .slide_content{
    .slide{
      width: 100%;
      max-height: 200px; //最大高さは指定してその範囲で画像の縦横比を保つ
      object-fit: contain;
      background-color: rgb(253, 249, 245);
    }
  }
}

// ランキング系
div.ranking-index, .lectures-index, .teacher-lectures-index, div.groups-index, .user{
  >nav{
    a{
      text-align: center;
      width: 50%;
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
      &:hover{
        background-color: lightgrey;
      }
    }
  }
  ul.rankings,ul.groups {
    list-style: none;
    padding: 0;
    color: rgb(54, 48, 48);
     // 中身
    div.lecture,div.teacher,div.user{
      height: 48px;
      background-color: #eeeeee;
      border-radius: 4px;
      overflow: auto;
      border-bottom: 1px solid gray;
      margin-bottom: 10px;
      .row {
        height: 100%;
        border-bottom: none;
        .rank{
          font-weight: bold;
          min-width: 50px;
          border-radius: 10px;
          display: flex;
          align-items: center;
        }
        .score{
          white-space: nowrap;
          border-radius: 20%;
          font-weight: bold;
          color: rgb(39, 33, 33);
          display: flex;
          align-items: center;
          height: 100%;
          a{
            background-color: gold;
            padding: 6px;
            border-radius: 4px;
          }
        }
        .class-name{
          height: 100%;
          font-weight: bold;
          color: rgb(39, 33, 33);
          display: flex;
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .teacher-name, .teacher-teachername{
          height: 100%;
          font-weight: bold;
          color: rgb(39, 33, 33);
          display: flex;
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .web-reviewcount{
          margin-left: 7px;
          height: 100%;
          display: flex;
          align-items: center;
        }
        .teacher-mobile-teacherNlecture {
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .lecture-mobile-class-name, .lecture-mobile-teacher-name{
          height: 100%;
          display: flex;
          align-items: center;
        }
        .lecture-mobile-review-count, .teacher-mobile-review-count {
          display: flex;
          align-items: center;
          margin-left: 8px;
        }
        .teacher-mobile-teacher {
          height: 100%;
          display: flex;
          align-items: center;
        }
        .static-user-name {
          align-items: center;
          margin-left: 10px;
        }
        a{
          display: inline-block;
          color: rgb(39, 33, 33);
          font-weight: bold;
        }
      }
    }
  }
}