// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.frame_profile{
  // float: left; /*左に回り込み*/
  display: block;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.usershow-editbutton,
.follow-btn,
.dropdown {
  position: relative;
  float: right;
  border: 1.5px solid #000;
  transition: all 0.3s;
  border-radius: 0.5rem;
  width: 46px;
  text-align: center;
  top: -80px;
  margin: 5px;
  color: black!important;
  a {
    color: black !important;
  }
}

.dropdown{
  float: right;
  .btn-secondary{
    background-color: #00000000;
    color: black;
    position: relative;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
  }
}

.group-join{
  p{
    margin: 0.3rem;
    margin: 0;
    padding-top: 0;
    font-size: 1.2rem;
    a{
      color: black;
    }
  }
}

// ステータスにそれぞれ区分ごとに間を開ける
.usershow-followe-follower,
.frame.profile,
.usershow-add-accounts {
  margin-top: 7px;
}


.reviews, .lectures{
  padding: 0 0 0;/*デフォルトのpadding: 0 0 40 を消す。*/
}

.following-follower-index{
  .following-follower{
    border-bottom: 1px solid gray;
    height: 3.5rem;
    .follow-btn{
      float: right;
    }
  }
}

.user_show{
  nav{
    a{
      text-align: center;
      width: 50%;
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
      &:hover{
        background-color: lightgrey;
      }
    }
  }
  .sns{
    a{
      color: black;
    }
  }
}

.list-group-item{
  a{
    color: #000;
    &:hover{
      color: #aaa;
    }
  }
}