// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.frame_icon{
  // float: left; /*左に回り込み*/
  // padding-right: 1rem;
   /*丸アイコン*/
  .circle {
    width: 84px;
    height: 84px;
  }
}

.frame_profile{
  // float: left; /*左に回り込み*/
  display: block;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.usershow-editbutton,
.followbtn,
.other-button,
.dropdown {
  position: relative;
  top: -80px;
  margin: 5px;
  color: black!important;
  a {
    color: black !important;
  }
}

.dropdown{
  float: right;
  .btn-secondary{
    background-color: #00000000;
    color: black;
    position: relative;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
  }
}




// 設定開くボタン
.other-button, .usershow-editbutton{
  float: right;
  border: 1.5px solid #000;
  /*枠線の幅、線種、色*/
  padding: 0.2rem 1rem;
  transition: all 0.3s;
  border-radius: 0.5rem;
}
// 下から上がってくる設定
.other-bottomup {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
  top: 10px;
}
// アニメーション前
.other-bottomup-transition {
  opacity:0;
  bottom: -100%;
  top: 100%;
  height: 0;
  transition: 0.3s;
  visibility: hidden;
}

// アニメーション後
.other-bottomup-transition-active {
  opacity: 1;
  bottom: 0;
  top: 48px;
  height: 100%;
  transition: 0.3s;
  visibility: visible
}
  // 閉じるボタン
  #closeIcone {
    text-align: right;
    font-size: 35px;
    padding-right: 40px;
    background-color: #fff;
  }
  ul.other-bottomup-ul {
    padding: 0;
    margin: 0;
    height: 100%;
    position:absolute;
    width:100%;
    li {
      display: block;
    }
    .usershow-blank {
      height: 100%;
    }
  } 


.follow-btn{
  float: right;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  padding: 0.2rem 1rem;
  margin-right: 0.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

}


.sns{
  // margin-left: 0.5rem;
  // margin-top: -1.5rem;
}


.group-join{
  p{
    margin: 0.3rem;
    margin: 0;
    padding-top: 0;
    font-size: 1.2rem;
    a{
      color: black;
    }
  }
}

// ステータスにそれぞれ区分ごとに間を開ける
.usershow-followe-follower,
.frame.profile,
.usershow-add-accounts {
  margin-top: 7px;
}


.reviews, .lectures{
  padding: 0 0 0;/*デフォルトのpadding: 0 0 40 を消す。*/
}

.following-follower-index{
  .following-follower{
    border-bottom: 1px solid gray;
    height: 3.5rem;
    .follow-btn{
      float: right;
    }
  }
}

.user_show{
  nav{
    a{
      text-align: center;
      width: 50%;
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
      &:hover{
        background-color: lightgrey;
      }
    }
  }
  .sns{
    a{
      color: black;
    }
  }
}

.list-group-item{
  a{
    color: #000;
    &:hover{
      color: #aaa;
    }
  }
}