// Place all the styles related to the zooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.zoom-index{
  h2{
    padding-top: 1rem;
    
  }
  .btn-success{
    float: right;
    margin-bottom: 1rem;
  }
  .zoom_room{
    clear: both;
    background-color: #fdfdfd;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 120px;
    text-align:left;
    padding: 0.5rem 1rem;
    border-radius:0.8rem;
    box-shadow:0.25rem 0.3rem 0.3rem  rgba(0,0,0,0.5);
    a{
      color: #333;
    }
    .title{
      font-size: 0.9rem;
      width: 100%;
    }
    .zoom_info{
      margin: 0;
      margin-right: 0;
    }
    .watcher{
      float: right;
    }
    .btn-primary{
      color: #fff;
      float: right;
      
    }
    .btn-success{
      color: #fff;
      margin: 0;
      float: right;
      margin-right: 0.5rem;
    }
    .btn-danger{
      color: #fff;
      float: right;
      margin-right: 0.5rem;
    }
  }
  .zoom_room.emee-ontime{
    background-color: red; //消していいよ
  }
  
}
.zoom-new, .zoom-edit{
  div{
    margin-top: 0.8rem;
    line-height: 1em;
    input{
      margin-top: 0.3rem;
    }
  }
  .create{
    margin: 0;
  }
}