// Place all the styles related to the zooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.zoom-index{
  h2{
    padding-top: 1rem;
  }
  .btn-success.pc_new_room {
    float: right;
    margin-bottom: 1rem;
  }
  // new room button for mobile 
  .btn-success.mobile_new_room {
    position: fixed;
    left:32%;
    right:32%;
    z-index: 2000;
    bottom: 4.5rem;
  }
  .zoom_room{
    clear: both;
    background-color: #fdfdfd;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    min-height: 120px;
    text-align:left;
    padding: 0.5rem 0.5rem;
    border-radius:0.8rem;
    border:0.065rem solid rgb(200, 200, 200);
    box-shadow:0.25rem 0.3rem 0.3rem  rgba(0,0,0,0.5);
    a{
      color: #333;
    }
    .title{
      font-size: 0.9rem;
      width: 100%;
      word-break: break-all;
    }
    .zoom_info{
      margin: 0;
      margin-right: 0;
    }
    .watcher{
      float: right;
    }
    .btn-primary{
      color: #fff;
      float: right;
    }
    .btn-secondary{
      color: #fff;
      float: right;
    }
    .btn-success{
      color: #fff;
      margin: 0;
      float: right;
      margin-right: 0.5rem;
    }
    .btn-danger{
      color: #fff;
      float: right;
      margin-right: 0.5rem;
    }
  }
  .ontime{
    color: rgb(245, 245, 245);
    background-color: rgb(255, 30, 0);
    border-radius: 50rem;
    padding: 0.1rem 0.4rem;
    margin-bottom: 0.4rem;
    .white{
      color: rgb(245, 245, 245);
      margin-right: 0.1rem;
    }
  }
  .disable{
    pointer-events: none
  }
}
.zoom-new, .zoom-edit{
  div{
    margin-top: 0.8rem;
    line-height: 1em;
    input{
      margin-top: 0.3rem;
    }
  }
  .create{
    margin: 0;
  }
}