<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のリクエストが届いています。下のリンクをクリックするとパスワードを変更できます。
</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記の内容に心当たりがない場合は、そのままメールを無視してください。</p>
<p>上のリンクをクリックするまで、あなたのパスワードが変更されることはありません。</p>
