<% provide(:title, 'アナリティクス') %>
<h1>Analytics</h1>



<p>ユーザー数： 100</p>
<p>レビュー数： 200</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">日程</th>
      <th scope="col">新規ユーザー数</th>
      <th scope="col">新規レビュー数</th>
      </tr>
    </thead>
    <tbody>
      <%# @users.each do |user| %>
        <%# if user.admin == false %>
          <tr>
            <td>3</td>
            <td>5</td>
            <td>6</td>
          </tr>
        <%# end %>
      <%# end %>
    </tbody>
  </table>
</div>
<%#= paginate @users, theme: 'twitter-bootstrap-4' %>
</ul>