<% provide(:title, 'User一覧') %>
<h1>User</h1>

<table>
    <tr>
    <th>id</th>
    <th>name</th>
    </tr>
    <% @users.each do |user| %>
      <% if user.admin == false %>
        <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        </tr>
      <% end %>
    <% end %>
</table>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</ul>