<%= link_to(notifications_path) do %>
  <%# 未読の通知が合った場合にオレンジ色の丸を表示 %>
  <% if unchecked_notifications.any? %>
    <div class="n-icon-circle">
      <i class="far fa-bell"></i>
      <i class="fas fa-circle n-circle"></i>
    </div>
  <% else %>
    <i class="far fa-bell fa-2x"></i>
  <% end %>
<% end %>