<footer class="footer">
  <nav class="d-block d-md-none">
    <%# スマホ用のフッター %>
  </nav>
  <nav class="d-none d-md-block">
    <%# ウェブサイト用のフッター %>
    <ul>
      <li><%= link_to "連絡先", '#' %></li>
      <li><%= link_to "公式Instagram", '#' %></li>
    </ul>
  </nav>
</footer>