<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <%= search_form_for @q, class: "form-inline mobile-search-form", url: lectures_path do |f| %>
          <div class="input-group justify-content-center">
            <%= f.search_field :name_or_teacher_name_cont, class: "searchbar form-control" ,placeholder: 'クラス名か先生名で検索' %>
            <%# 検索ボタン %>
            <div class="input-group-append">
              <%= button_tag type: 'submit', class: 'btn btn-outline-success' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>