<nav>
  <ul class="list-group">
    <li class="list-group-item">test</li>
    <li class="list-group-item">test</li>
    <li class="list-group-item">test</li>
    <li class="list-group-item">test</li>
  </ul>
</nav>